body {
	background-color: #2b2b2b;
	color: #ffffff;
	font-family: Arial, sans-serif;
}

.container {
	margin: auto;
	width: 400px;
	padding: 20px;
	background-color: #454545;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	text-align: center;
}

form {
	background-color: #666666;
	padding: 20px;
	border-radius: 5px;
}

label {
	display: block;
	margin-bottom: 5px;
}

input {
	display: block;
	margin-bottom: 10px;
	padding: 5px;
	border-radius: 3px;
	border: none;
}

input:valid {
	border: 2px solid green;
}

input:invalid {
	border: 2px solid red;
}

#error-message {
	color: red;
	margin-bottom: 10px;
}

#submit-button {
	background-color: #663399;
	color: #ffffff;
	text-transform: uppercase;
	border: none;
	border-radius: 3px;
	padding: 10px;
	cursor: pointer;
}
